.venv/
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.Python
config.toml
assets/test_preview/
data/history/*.json
!data/history/.gitkeep
configs/setups/*.toml
!configs/setups/.gitkeep
.DS_Store
*.png
!assets/.gitkeep
.env
.idea/
.vscode/
logs/
*.log
